debug

configs/bot\.yml

configs/discord\.yml

configs/commands\.yml

configs/command\.yml

configs/keywords\.yml

configs/parsing\.yml

configs/irc\.yml

logs/

vendor/

parkertron

configs/local/

configs/permissions\.yml

Gopkg\.lock

.vscode
configs/discord/122900397965705216/

.idea/
